[Unit]
Description=XFCE PolicyKit authentication agent
Documentation=https://github.com/ncopa/xfce-polkit
PartOf=hyprland-session.target

[Service]
Type=simple
ExecStart=/usr/lib/xfce-polkit/xfce-polkit

[Install]
WantedBy=hyprland-session.target
