[Unit]
Description=Battery Notification

[Service]
Type=simple
ExecStart=%h/.local/bin/wayde-battery-notification

[Install]
WantedBy=multi-user.target
