[Unit]
Description=Wallpaper utility
Documentation=https://wiki.hyprland.org/Hypr-Ecosystem/hyprpaper/
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/hyprpaper

[Install]
WantedBy=graphical-session.target
