[Unit]
Description=Set GSettings
PartOf=hyprland-session.target
After=hyprland-session.target

[Service]
type=oneshot
ExecStart=%h/.local/bin/wm-gsettings

[Install]
WantedBy=hyprland-session.target
