[Unit]
Description=Idle manager
Documentation=https://wiki.hyprland.org/Hypr-Ecosystem/hypridle/
PartOf=hyprland-session.target

[Service]
Type=simple
ExecStart=/usr/bin/hypridle

[Install]
WantedBy=hyprland-session.target
