[Unit]
Description=Idle manager
Documentation=man:swayidle(1)
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/swayidle -w \
        timeout 300 'hyprctl dispatch dpms off' \
             resume 'hyprctl dispatch dpms on' \
       before-sleep 'swaylock -f'

[Install]
WantedBy=graphical-session.target
