[Unit]
Description=playerctld
Documentation=man:playerctl(1)
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=playerctld daemon

[Install]
WantedBy=graphical-session.target
