[Unit]
Description=playerctld
Documentation=man:playerctl(1)
PartOf=hyprland-session.target

[Service]
Type=simple
ExecStart=playerctld daemon

[Install]
WantedBy=hyprland-session.target
