[Unit]
Description=Semi-transparent inactive windows
PartOf=graphical-session.target
After=graphical-session.target

[Service]
ExecStart=/usr/share/sway/scripts/inactive-windows-transparency.py -o 0.85
Restart=Always

[Install]
WantedBy=graphical-session.target
