[Unit]
Description=(swayidle) idle manager
Documentation=man:swayidle(1)
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/swayidle -w \
         timeout 90 'swaymsg "output eDP-1 dpms off"' \
             resume 'swaymsg "output eDP-1 dpms on"' \
       before-sleep 'swaylock'

[Install]
WantedBy=sway-session.target
