[Unit]
Description= (swaybg) wallpaper utility
Documentation=https://github.com/swaywm/swaybg
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/swaybg -o * -i /home/in0ni/Pictures/bgs/current -m fill

[Install]
WantedBy=sway-session.target
