[Unit]
Description=Idle manager
Documentation=man:swayidle(1)
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/swayidle -w \
        timeout 180 'sleep 1 && hyprctl dispatch dpms off' \
             resume 'sleep 1 && hyprctl dispatch dpms on' \
       before-sleep 'swaylock'

[Install]
WantedBy=wm-session.target
