[Unit]
Description=Check and cache software/firmware updates.
Wants=network-online.target
After=network-online.target

[Service]
ExecStart=%h/.local/bin/waybar-updates refresh all
