
[Unit]
Description=Day/night gamma adjustments
PartOf=graphical-session.target
After=graphical-session.target

[Service]
ExecStart=/usr/bin/wlsunset -l 20.6 -L -87.0 -t 3200
Restart=on-failure

[Install]
WantedBy=graphical-session.target
