
[Unit]
Description=Day/night gamma adjustments
PartOf=hyprland-session.target
After=hyprland-session.target

[Service]
ExecStart=/usr/bin/wlsunset -l $GPS_LAT -L $GPS_LON -t 3200
Restart=on-failure

[Install]
WantedBy=hyprland-session.target
