[Unit]
Description=Daemon implementation of XSETTINGS spec
Documentation=https://github.com/derat/xsettingsd/wiki
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/xsettingsd

[Install]
WantedBy=sway-session.target
