* {
  border: none;
  border-radius: 0;
  font-family: "%{{font_icon}}", "%{{font_sans}}";
  font-size: 12px;
  min-height: 0;
}

#waybar {
  background-color: rgba(%{{theme_dark_0_rgb}}, 0.8);
  color: #%{{theme_light_1}};
  transition-property: background-color;
  transition-duration: 0.5s;
}

#waybar.hidden { opacity: 0.2; }
label:focus { background-color: #%{{theme_dark_0}}; }
window#waybar.empty #window { background-color: transparent; }
#custom-gammastep.inactive { opacity: 0.25; }

/*
 * blocks
 */
#workspaces,
#mode,
#window,
#clock,
#network,
#pulseaudio,
#tray {
  margin: 0 5px;
}

#mode,
#window,
#clock {
  padding: 0 10px;
}

#clock,
#window {
  color: #%{{theme_light_0}};
}

#workspaces button.focused,
#window,
#clock,
#cpu,
#memory,
#temperature,
#battery {
  background-color: rgba(%{{theme_dark_0_rgb}}, 0.35);
}

#clock { font-size: 13px; }

/*
 * workspaces
 */
#workspaces button {
  padding: 0 5px;
  border-top: 1px solid transparent;
  color: #%{{theme_light_1}};
  opacity: 0.65;
}
/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
  background: rgba(%{{theme_dark_0_rgb}}, 0.35);
  box-shadow: inherit;
}
#workspaces button.focused {
  color: #%{{theme_light_0}};
  border-top: 1px solid #%{{theme_highlight}};
  opacity: 1;
}
#workspaces button.urgent {
  background-color: #%{{b16_01_red}};
}

/*
 * modes
 */
#mode {
  font-weight: bold;
  background-color: #%{{theme_light_0}};
  color: #%{{theme_dark_0}};
}

/*
 * misc shit
 */

/* make slightly opaque */
#custom-gammastep,
#custom-updates,
#idle_inhibitor,
#network,
#pulseaudio {
  opacity: 0.85;
}

/*
 * monitors
 */
#cpu,
#memory,
#temperature,
#battery {
  margin: 0 1px;
  padding: 0 3px;
  color: #%{{theme_light_0}};
  opacity: 0.75;
}
#cpu { border-top: 1px solid #%{{b16_04_blue}}; }
#memory { border-top: 1px solid #%{{b16_05_purple}}; }
#temperature { border-top: 1px solid #%{{b16_11_yellow}}; }
#temperature.critical { background-color: #%{{b16_01_red}}; }
#battery.great { border-top: 1px solid #%{{b16_02_green}}; }
#battery.good { border-top: 1px solid #%{{b16_14_aqua}}; }
#battery.fair { border-top: 1px solid #%{{b16_10_green}}; }
/* #battery.low is found below w/ network & pulse */
#battery.charging { border-top: 1px solid #%{{b16_06_aqua}}; }

/*
 * warnings
 */
/* because these can be warnings with background, padding is required */
#network,
#pulseaudio {
  margin: 0 5px;
  padding: 0 5px;
}

#battery.low:not(.charging),
#network.disconnected,
#pulseaudio.muted {
  background-color: #%{{theme_dark_0}};
  border-top: 1px solid #%{{b16_01_red}};
  color: #%{{b16_01_red}};
}

#battery.critical:not(.charging),
#cpu.critical,
#temperature.critical {
  background-color: #%{{b16_01_red}};
  border-top: 1px solid #%{{theme_light_0}};
  color: #%{{theme_light_0}};
  animation-name: blinking;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes blinking {
  to { background-color: #%{{theme_dark_0}}; }
}

