* {
  border: none;
  border-radius: 0;
  font-family: "%{{font_sans}}, %{{font_icon}}";
  font-size: %{{font_size}}px;
  min-height: 0;
  margin: 0;
  padding: 0;
}

#waybar {
  background-color: rgba(%{{gruv_dark_0_rgb}}, 0.6);
  color: #%{{gruv_light_bg_1}};
  transition-property: background-color;
  transition-duration: 0.5s;
}

#waybar.hidden { opacity: 0.2; }
label:focus { background-color: #%{{theme_dark_0}}; }
window#waybar.empty #window { background-color: transparent; }
#custom-gammastep.inactive { opacity: 0.25; }

/*
 * blocks
 */
#submap,
#clock,
#window,
#tray {
  margin: 0 0.75em;
}

#workspaces {
  margin-left: 0.5em;
}

#custom-x1profile.performance {
  color: #%{{gruv_dark_orange}};
}
#custom-x1profile.low-power{
  opacity: 0.5;
}

#clock,
#window {
  color: #%{{gruv_light_bg_0}};
}

#workspaces > *,
#submap,
#window,
#custom-tomate,
#custom-x1profile,
#clock,
#cpu,
#memory,
#temperature,
#network,
#pulseaudio,
#battery {
  padding: 0.35em 0.75em;
}


#workspaces button.active,
#cpu,
#memory,
#clock,
#network,
#window,
#temperature,
#battery {
  background-color: rgba(%{{gruv_dark_0_rgb}}, 0.7);
}

/*
 * workspaces
 */
button {
  border-top: 1px solid transparent;
  color: #%{{gruv_light_bg_1}};
  opacity: 0.65;
}
/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
  background: rgba(%{{theme_dark_0_rgb}}, 0.35);
  box-shadow: inherit;
}
label:disabled,
button:disabled {
  color: #%{{gruv_light_bg_1}};
}
button.active {
  color: #%{{theme_highlight}};
  border-top: 1px solid #%{{theme_highlight}};
  opacity: 1;
}
button.urgent {
  color: #%{{theme_light_0}};
  background-color: #%{{b16_01_red}};
}

/*
 * modes
 */
#submap{
  font-weight: bold;
  background-color: #%{{gruv_light_bg_0}};
  color: #%{{theme_dark_0}};
}

/*
 * misc shit
 */

/* make slightly opaque */
#custom-gammastep,
#custom-updates,
#idle_inhibitor,
#network,
#pulseaudio {
  opacity: 0.85;
}

/*
 * monitors
 */
#cpu,
#memory,
#temperature,
#battery {
  color: #%{{gruv_light_bg_0}};
  opacity: 0.75;
}
#cpu { border-top: 1px solid #%{{b16_04_blue}}; }
#memory { border-top: 1px solid #%{{b16_05_purple}}; }
#temperature { border-top: 1px solid #%{{gruv_dark_orange}}; }
#temperature.critical { background-color: #%{{b16_01_red}}; }
#battery.great { border-top: 1px solid #%{{b16_02_green}}; }
#battery.good { border-top: 1px solid #%{{b16_10_green}}; }
#battery.fair { border-top: 1px solid #%{{b16_11_yellow}}; }
/* #battery.low is found below w/ network & pulse */
#battery.charging { border-top: 1px solid #%{{b16_14_aqua}}; }

/*
 * warnings
 */
#battery.low:not(.charging),
#network.disconnected,
#pulseaudio.muted {
  background-color: #%{{theme_dark_0}};
  border-top: 1px solid #%{{b16_01_red}};
  color: #%{{b16_01_red}};
}

#battery.critical:not(.charging),
#cpu.critical,
#temperature.critical {
  background-color: #%{{b16_01_red}};
  border-top: 1px solid #%{{gruv_light_bg_0}};
  color: #%{{gruv_light_bg_0}};
  animation-name: blinking;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes blinking {
  to { background-color: #%{{theme_dark_0}}; }
}

