* {
  border: none;
  border-radius: 0;
  font-family: "%{font_sans}%, %{font_icon}%";
  font-size: "!{font_size}!"px;
  min-height: 0;
  margin: 0;
  padding: 0;
}

#waybar {
  background-color: rgba("!{gruv_dark--rgb}!", 0.6);
  color: #"!{gruv_light_1}!";
  transition-property: background-color;
  transition-duration: 0.5s;
}

/* avoid background if no items */
window#waybar.empty #window { background-color: transparent; }

/* make non-bg icons slightly opaque */
#custom-updates_software,
#custom-updates_firmware,
#custom-day_night,
#custom-pomodoro,
#idle_inhibitor,
#custom-x1profile,
#network,
#pulseaudio {
  opacity: 0.85;
}

/* disabled/inactive */
#idle_inhibitor.deactivated,
#custom-pomodoro.disabled,
#waybar.hidden,
#custom-day_night.inactive { opacity: 0.5; }

/* Blocks w/ horizontal spacing */
#workspaces,
#submap,
#clock,
#window {
  margin: 0 0.5em;
}

/* Blocks w/ darker background */
#workspaces > *,
#submap,
#window,
#clock,
#cpu,
#memory,
#disk,
#temperature,
#network,
#pulseaudio,
#battery {
  padding: 0.35em 0.75em;
}

#custom-x1profile.performance {
  color: #"!{shell_light}!";
}

#clock,
#window {
  color: #"!{gruv_light}!";
}

#custom-pomodoro,
#idle_inhibitor,
#custom-x1profile {
  padding: 0.35em 0.35em;
}

#custom-x1profile {
  padding-right: 0.7rem
}

/* in case of tray icons 🙄 - TODO: better selector, avoid padding on empty */
#tray {
  margin-right: 0.5em;
}

#workspaces button.active,
#cpu,
#memory,
#disk,
#clock,
#window,
#temperature,
#network,
#battery {
  background-color: rgba("!{gruv_dark--rgb}!", 0.7);
}

/*
 * workspaces
 */
#workspaces { margin-left: 0; }
label:focus { background-color: #"!{shell_dark}!"; }

label:disabled,
button:disabled {
  color: #"!{gruv_light_1}!";
}

button {
  border-top: 1px solid transparent;
  color: #"!{gruv_light_1}!";
  opacity: 0.65;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
  background: rgba("!{shell_dark--rgb}!", 0.35);
  box-shadow: inherit;
}

button.active {
  color: #"!{v16_accent}!";
  border-top: 1px solid #"!{v16_accent}!";
  opacity: 1;
}

button.urgent {
  color: #"!{shell_light}!";
  background-color: #"!{v16_01_red}!";
}

/*
 * modes
 */
#submap{
  margin-right: 0;
  font-weight: bold;
  background-color: #"!{gruv_light}!";
  color: #%{shell_dark}%;
}

/*
 * monitors
 */
#cpu,
#memory,
#disk,
#temperature,
#network,
#battery {
  color: #%{gruv_light}%;
  opacity: 0.75;
}

#cpu { border-top: 1px solid #"!{v16_06_aqua}!"; }
#memory { border-top: 1px solid #"!{v16_05_purple}!"; }
#disk { border-top: 1px solid #"!{v16_04_blue}!"; }
#temperature { border-top: 1px solid #"!{gruv_dark_orange}!"; }
#temperature.critical { background-color: #"!{v16_01_red}!"; }
#battery.great { border-top: 1px solid #"!{v16_02_green}!"; }
#battery.good { border-top: 1px solid #"!{v16_10_green}!"; }
#battery.fair { border-top: 1px solid #"!{v16_11_yellow}!"; }
/* #battery.low is found below w/ network & pulse */
#battery.charging { border-top: 1px solid #"!{v16_07_white}!"; }
#network { border-top: 1px solid #"!{gruv_dark_green}!"; }

/*
 * warnings
 */
#battery.low:not(.charging),
#network.disconnected,
#pulseaudio.muted {
  background-color: #"!{shell_dark}!";
  border-top: 1px solid #"!{v16_01_red}!";
  color: #"!{v16_01_red}!";
}

#battery.critical:not(.charging),
#cpu.critical,
#disk.critical,
#temperature.critical {
  background-color: #"!{v16_01_red}!";
  border-top: 1px solid #"!{gruv_light}!";
  color: #"!{gruv_light}!";
  animation-name: blinking;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes blinking {
  to { background-color: #"!{shell_dark}!"; }
}

