configuration {
  font: "%{font_sans}%, %{font_icon}% %{font_size}%px";
  show-icons: false;
  terminal: "kitty";
  sort: false;
  kb-cancel: "XF86Back,XF86HomePage,XF86Sleep,Menu,XF86Search,Escape";

  drun {
    display-name: "  Run";
  }

  window {
    display-name: "  Window";
  }
}

@theme "theme/default.rasi"
