#zim-pageview text {
  background-color: #%{{gruv_dark_bg_0}};
  color: #%{{gruv_light_bg_0}};
}

#zim-toc-widget {
  border-color: #%{{gruv_dark_bg_4}};  /* sets the color of the border line of the toc plugin */
}

#zim-toc-head {
  color: #%{{gruv_light_bg_1}};  /* sets the color of the border line of the toc plugin */
  background-color: #%{{gruv_dark_bg_2}};
}

#zim-toc-widget scrolledwindow treeview {
  color: #%{{gruv_light_bg_1}};  /* sets the color of the text within the Table of Content plugin */
  background-color: #%{{gruv_dark_bg_2}};
  opacity: 1;
}
