[Desktop Entry]
Type=Application
Name=Kakoune
GenericName=Text Editor
Comment=Edit text files
Exec=kak %F
Keywords=Text;editor;
Icon=gvim
Terminal=true
Categories=Utility;TextEditor;
MimeType=text/english;text/plain;text/x-makefile;text/x-c++hdr;text/x-c++src;text/x-chdr;text/x-csrc;text/x-java;text/x-moc;text/x-pascal;text/x-tcl;text/x-tex;application/x-shellscript;text/x-c;text/x-c++;
X-Desktop-File-Install-Version=0.26
